/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)

- Font weights:
default / Regulat: 400
Bold: 700

- Line heights:
Default: 1
Paragraph default: 1.5

--- 02 COLORS

- Primary: #4057e3
- Tints: 
#fdf2e9
#fae5d3
- Shades: 
- Accents:
- Greys:
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333
#888
#ccc

--- 05 SHADOWS

--- 06 BORDER RADIUS

Default: 6px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)


*/

html {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  font-weight: 400;
  color: #172e62;
  opacity: 1;
  background-color: #fafafa;
  overflow: hidden;
  margin-top: 50px;
}

/*************************/
/* GENERAL REUSABLE COMPONENTS */
/*************************/

.container-scroll {
  width: 900px;
  height: 2519px;
  max-height: 800px;
  margin: 0 auto;
  background-color: #f4f5f7;
  opacity: 1;
  overflow-y: scroll;
  padding: 70px 130px;
  border: 2px solid #e6e6e6;
}

.container-inner {
  width: 640px;
  height: 2350px; /* 2519 - 70 - 185.46 = 2263.54 px, bet vizualiai per mažas */
  margin: 0 auto;
  background-color: #ffffff;
  opacity: 1;
  padding: 50px 40px 0px 40px;
  margin-bottom: 20px;
}

.dividing-line {
  width: 560px;
  height: 2px;
  background-color: #f6f6f6;
  opacity: 1;
  margin-bottom: 40px; /* 20 + 20 = 40px */
}

.heading-primary {
  font-size: 21px;
  line-height: 1.33;
  text-align: left;
  font-weight: 700;
  margin-bottom: 16px;
}

.kauno-he-img,
.user-page-img,
.electric-car-abc-img {
  margin-bottom: 40px; /* 20 + 20 = 40px */
}

.btn:link,
.btn:visited {
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  transition: all 0.4s;
}

.btn:link,
.btn:visited {
  background-color: #4057e3;
  opacity: 1;
}

.btn:hover,
.btn:active {
  transform: translateY(-7px);
  box-shadow: 10px 24px 24px rgba(0, 0, 0, 0.06);
}
