/*************************/
/* RESPONSIVE DESIGN */
/*************************/

/**************** DESKTOP ****************/

@media screen and (max-width: 1024px) {
  .container-scroll {
    flex-wrap: wrap;
  }
}

/**************** TABLET ****************/

@media screen and (max-width: 768px) {
  /*************************/
  /* GENERAL */
  /*************************/
  .container-scroll {
    width: 90%;
    padding: 50px 50px 100px 50px;
  }

  .container-inner {
    width: 90%;
    /* height: 2200px; */
  }

  .dividing-line {
    width: 100%;
  }

  .btn:link,
  .btn:visited {
    font-size: 12px;
  }

  /*************************/
  /* KAUNO-HE SECTION */
  /*************************/
  .kauno-he-img {
    width: 100%;
    height: 100%;
  }

  .btn-suzinoti {
    width: 150px;
    height: 40px;
  }

  /*************************/
  /* USER-PAGE SECTION */
  /*************************/
  .user-page-img {
    width: 100%;
    height: 100%;
  }

  .btn-skaityti {
    width: 125px;
    height: 35px;
  }

  /*************************/
  /* ELECTRIC-CAR-ABC SECTION */
  /*************************/
  .electric-car-abc-img {
    width: 100%;
    height: 100%;
  }

  .abc-list a {
    gap: 10px;
  }

  .list-item {
    font-size: 14px;
    line-height: 1.4;
  }

  .icon {
    font-size: 28px;
    line-height: 0.2;
  }

  /*************************/
  /* AFTER-FOOTER */
  /*************************/
  .after-footer-text-box {
    width: 90%;

    /* margin: 0px 25px 40px 25px; */
  }
}

/**************** MOBILE ****************/

@media screen and (max-width: 375px) {
  /*************************/
  /* GENERAL */
  /*************************/
  body {
    font-size: 14px;
    line-height: 1.3;
  }

  .container-scroll {
    width: 90%;
    padding: 40px 20px 70px 20px;
  }

  .container-inner {
    padding: 30px 25px 0px 25px;
    margin-bottom: 20px;
  }

  .btn:link,
  .btn:visited {
    font-size: 11px;
  }

  .dividing-line {
    margin-bottom: 30px;
  }

  .kauno-he-img,
  .user-page-img,
  .electric-car-abc-img {
    margin-bottom: 20px;
  }

  .heading-primary {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  /*************************/
  /* HEADER */
  /*************************/

  .logo {
    margin-bottom: 30px;
    width: 50%;
  }

  /*************************/
  /* KAUNO-HE SECTION */
  /*************************/

  .btn-suzinoti {
    width: 120px;
    height: 35px;
  }

  /*************************/
  /* USER-PAGE SECTION */
  /*************************/
  .btn-skaityti {
    width: 120px;
    height: 35px;
  }

  /*************************/
  /* ELECTRIC-CAR-ABC SECTION */
  /*************************/
  .abc-list a {
    gap: 10px;
  }

  .list-item {
    font-size: 13px;
    line-height: 1.4;
  }

  .icon {
    font-size: 26px;
    line-height: 0.2;
  }

  /*************************/
  /* FOOTER */
  /*************************/
  .footer {
    font-size: 12px;
    line-height: 1.4;
  }

  .footer-icon-box {
    gap: 8px;
    margin-bottom: 40px;
  }

  .footer-icon-box img {
    width: 80%;
  }

  /*************************/
  /* AFTER-FOOTER */
  /*************************/
  .after-footer-text-box {
    width: 80%;
  }

  .after-footer-text-box {
    font-size: 11px;
    line-height: 1.4;
  }
}
